<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:replace="this :: title">Default Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <header th:fragment="header">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<form class="form-inline" action="/action_page.php">
				<input class="form-control mr-sm-2" type="text" placeholder="지역, 건물 검색">
				<button class="btn btn-success" type="submit">검색</button>
			</form>
		</nav>
    </header>
</body>
</html>
