<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:replace="this :: title">Default Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <header th:fragment="header">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<div class="collapse navbar-collapse justify-content-end"> 
			<form class="form-inline" th:action="@{/map/searchmap}" method="get">
				<input class="form-control mr-sm-2" type="text" name="search" placeholder="주소 검색">
				<button class="btn btn-success mr-1" type="submit">검색</button>
			</form>
				<a class="btn btn-info" th:href="@{/map/mainmap}">내 위치로 찾기</a>
		</div>
		</nav>
    </header>
</body>
</html>
