<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="content">
		<div class="container">
		<h1>사업자페이지</h1>
		<h4>메뉴 변경</h4>
			<form th:action="@{/biz/addmenu2/{res_id}(res_id=${res.Res_id})}" method="post" id="boxWrap">
				<input type="text"  id="menu_name1" placeholder="메뉴1"><input type="text" placeholder="메뉴1-가격" id="menu_price"><input type="hidden" value="1" id="menu_count">
				<button class="addbutton" type="button">추가하기</button>
				<button type="button" class="button btn-success ">제출하기</button>
			</form>
		</div>
	<script type="text/javascript">
	$(document).ready(function() {
		var i=2;
	  $(".addbutton").click(function() {
	    $("#boxWrap").append("<br>"+"<input placeholder="+'(20자)메뉴'+i+" id="+'menu'+i+" >"+"<input placeholder="+'메뉴'+i+'가격'+" id="+'menu_price'+i+" >");
	    $("#boxWrap").append("<input type="+'hidden'+" value="+i+" id="+'count'+i+" >");
	    $("#boxWrap").append("<input type="+'hidden'+" value="+i+" id="+'i_value'+" >");
	    i++;
	  });
	});
	var menu_list = [];
	var i = 2;
	$(".button").click(function() {
		i = $('#i_value').val(); 
		
		var menuVO = {
				menu : $("#menu_name"+i).val(),
				menu_price : $("#menu_price"+i).val(), 
				menu_count : $("#menu_count"+i).val()
		};
		menu_list.push(menuVO);
		console.log(menu_list);
	})
	</script>
	</main>
</body>
</html>