<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="content">
		<div class="container">
		<h1>사업자페이지</h1>
		<h4>메뉴 추가</h4>
		<th:block th:if="${menu_list} == null">
			<form th:action="@{/biz/addmenu2/{res_id}(res_id=${res.Res_id})}" method="post" >
				<div id="menu-vo">
					<div class="menu-item">
						<input type="text" name="list[0].menu_name" placeholder="메뉴" >
						<input type="text" name="list[0].menu_e" placeholder="메뉴-설명" >
						<input type="text" name="list[0].menu_price" placeholder="메뉴-가격" >
					</div>
				</div>
				<button type="button" id="add_field" class="btn btn-dark">추가하기</button>
				
				<button id="add_field" class="btn btn-success">제출하기</button>
			</form>
		</th:block>
		<th:block th:if="${menu_list} != null">
		
			<form th:action="@{/biz/addmenu2/{res_id}(res_id=${res.Res_id})}" method="post" >
				<div id="menu-vo">
					<div class="menu-item" th:each="item : ${menu_list}">
						<input type="text" name="list[0].menu" th:value="${item.menu_name}" placeholder="메뉴-!null" >
						<input type="text" name="list[0].menu_e"th:value="${item.menu_e}" placeholder="메뉴-설명" >
						<input type="text" name="list[0].menu_price"th:value="${item.menu_price}" placeholder="메뉴-가격" >
					</div>
				</div>
				<button type="button" id="add_field" class="btn btn-dark">추가하기</button>
				
				<button id="add_field" class="btn btn-success">제출하기</button>
			</form>
		</th:block>
		</div>
		<script type="text/javascript">
		$('#add_field').click(()=>{
			let count = $('.menu-item').length;
			$('#menu-vo').append(
					`<div class="menu-item">
						<input type="text" name="list[${count}].menu_name" placeholder="메뉴">
						<input type="text" name="list[${count}].menu_e" placeholder="메뉴-설명">
						<input type="text" name="list[${count}].menu_price" placeholder="메뉴-가격">
					</div>`);
		});
		
		</script>
	</main>
	
</body>
</html>