<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="content">
		<div class="container">
		<h1>사업자페이지</h1>
		<h4>배너 변경(최대100자)</h4>
			<form th:action="@{/biz/chbanner/{res_id}(res_id=${res.Res_id})}" method="post">
				<textarea rows="10" cols="150" th:text="${res.res_banner}" name="res_banner"></textarea>
				<button class="btn btn-success ">제출하기</button>
			</form>
		</div>
	</main>
</body>
</html>