<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="content">
		<h1>사업자페이지</h1>
		<h3>
		음식점 등록(위치,종류,이름)(승인전)
		</h3>
		<form th:action="@{/biz/reg}" method="post">
				  <div class="form-group">
					    <label for="res_name">음식점 이름</label>
					    <input type="text" class="form-control" placeholder="음식점 이름" id="res_name" name="res_name">
				  </div>
				  <div class="form-group">
					    <label for="res_type">종류</label>
					    <input class="form-control" placeholder="종류" id="res_type" name="res_type"></input>
				  </div>
				  <div class="form-group">
					    <label for="res_name">위치</label>
					    <input type="text" class="form-control" placeholder="위치" id="address" name="address">
				  </div>
				  <button type="submit" class="btn btn-primary mb-3">음식점 등록하기</button>
			</form>
   	 	<a class="btn btn-primary mr-2" th:href="@{/biz/de}">사업자 홈으로</a>
   	 	
	</main>
</body>
</html>