<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="content">
	<div class="container">
		<h1>사업자페이지</h1>
		<form th:action="@{/biz/reg}" method="post">
				  <div class="form-group">
					    <label for="res_name">음식점 이름</label>
					    <input type="text" class="form-control" placeholder="음식점 이름" id="res_name" name="res_name">
				  </div>
				  <div class="form-group">
					    <label for="res_type">종류</label>
					    <select class="form-control" id="selbox" name="res_type">
						    <option value="카페">카페</option>
						    <option value="양식">양식</option>
						    <option value="한식">한식</option>
						    <option value="분식">분식</option>
						    <option value="중식">중식</option>
					      	<option value="direct">직접입력</option>
					    </select>
					    <input type="text" class="form-control mt-2" id="selboxDirect" placeholder="직접입력해주세요" name="res_type_direct"/>
				  </div>
				  <div class="form-group">
					    <label for="res_name">위치</label>
					    <input type="text" class="form-control" placeholder="위치" id="address" name="address">
				  </div>
				  <button type="submit" class="btn btn-primary mb-3">음식점 등록하기</button>
			</form>
   	 	<a class="btn btn-primary mr-2" th:href="@{/biz/de}">사업자 홈으로</a>
   	 	</div>
   	 	<script type="text/javascript">
   	 $(function(){
   	    //직접입력 인풋박스 기존에는 숨어있다가
   	    $("#selboxDirect").hide();

   	    $("#selbox").change(function() {
   	        //직접입력을 누를 때 나타남
   	        if($("#selbox").val() == "direct") {
   	        $("#selboxDirect").show();
   	        }  else {
   	        $("#selboxDirect").hide();
   	        }
   	    }) 
   	});
   	 	</script>
	</main>
</body>
</html>