<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="content">
		<h1>사업자페이지</h1>
		<div>
		- 음식점 등록(위치,종류,이름)(승인전)
		</div>
   	 	<a class="btn btn-primary mr-2" th:href="@{/biz/reg}">음식점 등록</a>
   	 	<div>
	    - 메뉴, 가격 등록
	    - 리뷰답글
	    - 이벤트등록가능
	    - 부적절 리뷰 신고
   	 	</div>
	    <a class="btn btn-primary mr-2" th:href="@{/biz/manage}">음식점 관리</a>
	    <div>
	    - 부적절 리뷰 신고 결과
	    </div>
	    <a class="btn btn-primary mr-2" th:href="@{/biz/report_list}">신고 리뷰 내역</a>
	</main>
</body>
</html>