
<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body >
	<main layout:fragment="content">
		<div class="container m-auto">
			<div>
				<h2 th:text="${res.res_banner}"></h2>
			</div>
			<div>
				<h3 th:text="${res.res_name}"></h3>
				<h4 th:text="'평점 : '+ ${#numbers.formatDecimal(res.res_score/2.0, 1, 2)}"></h4>
			</div>
			<div>
				<h4 th:text="'메뉴'"></h4>
				<h5 th:text="${res.res_info}"></h5>
			</div>
			<div>
				<h4 th:text="'리뷰'"></h4>
				<div th:each="item : ${rev}" >
					<div th:text="${#numbers.formatDecimal(item.score/2.0, 1, 1)}"></div>
					<div th:text="${item.content}"></div>
				</div>
			</div>
				<a th:unless="${result}" class="btn btn-success mr-2" th:href="@{/res/fav/{res_id}(res_id=${res.Res_id})}">즐겨 찾기</a>
				<a th:if="${result}" class="btn btn-danger mr-2" th:href="@{/res/fav/{res_id}(res_id=${res.Res_id})}">즐겨 찾기 취소</a>
		<a class="btn btn-info " th:href="@{/res/rev/{res_id}(res_id=${res.Res_id})}">리뷰 쓰기</a>
		</div>
	</main>
</body>
</html>