
<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
.star {
	position: relative;
	font-size: 2rem;
	color: #ddd;
}


.star span {
	width: 0;
	position: absolute;
	left: 0;
	color: #57D3F7;  
	overflow: hidden;
	pointer-events: none;
}

.text-area {
	width: 500px;
	height: 500px;
}


.star-rev {
	position: relative;
	font-size: 1rem;
	color: #ddd;
}


.star-rev span {
	width: 0;
	position: absolute;
	left: 0;
	color: red;  
	overflow: hidden;
	pointer-events: none;
}
</style>
</head>
<body >
	<main layout:fragment="content">
		<div class="container m-auto">
			<div>
				<h2 th:text="${res.res_banner}"></h2>
			</div>
				<hr>
					<div class="wrap">
				<h4 th:text="'평점'"></h4>
						<span class="star"> ★★★★★ <span th:style="'width:'+${res.res_score * 10}+'%'">★★★★★</span></span>
					</div>
				<hr>
			<div>
				<h4 th:text="'메뉴'"></h4>
				
				<div th:each="M, stat : ${Menu_List}" >
				<h5 th:text="${M.menu_name}+'&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp'+${M.menu_price}+'원'"></h5>
				<h6 class="mb-4" th:text="${M.menu_e}"></h6>
				<hr>
				</div>
			</div>
			<div>
				<h4 th:text="'리뷰'"></h4>
				<hr>
				<div th:each="item : ${rev}" th:unless="${item.report_result}" >
				
					<span class="star-rev"> ★★★★★ <span th:style="'width:'+${item.score * 10}+'%'">★★★★★</span></span>
					<div th:text="${#numbers.formatDecimal(item.score/2.0, 1, 1)}"></div>
					<div th:text="${item.content}"></div>
					<hr>
				</div>
			</div>
				<a th:unless="${result}" class="btn btn-success mr-2" th:href="@{/res/fav/{res_id}(res_id=${res.Res_id})}">즐겨 찾기</a>
				<a th:if="${result}" class="btn btn-danger mr-2" th:href="@{/res/fav/{res_id}(res_id=${res.Res_id})}">즐겨 찾기 취소</a>
		<a class="btn btn-info " th:href="@{/res/rev/{res_id}(res_id=${res.Res_id})}">리뷰 쓰기</a>
		</div>
	</main>
</body>
</html>