<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.final_project.dao.RestaurantDAO">
	<select id="selectRestaurant_list" resultType="RestaurantVO">
		select * from restaurant
		where permission = 1
		order by res_score desc
	</select>
	<select id="selectRestaurant" resultType="RestaurantVO">
		select * from restaurant
		where res_id = #{res_id}
	</select>
	<select id="selectRestaurant_list_all" resultType="RestaurantVO">
		select * from restaurant
	</select>
	<update id="updatepermission_true">
		update restaurant
			set permission = 1
			where res_id = #{res_id}
	</update>
		<update id="updatepermission_false">
		update restaurant
			set permission = 0
			where res_id = #{res_id}
	</update>
	<insert id="insertRes">
		insert into restaurant(address, res_name, res_type, res_score, permission, res_info, res_banner, User_id)
		values(#{res.address}, #{res.res_name}, #{res.res_type}, #{res.res_score}, false, #{res.res_info}, #{res.res_banner}, #{user_id})
	</insert>
	<select id="selectRestaurant_list_user" resultType="RestaurantVO">
		select * from restaurant
		where User_id = #{user_id}
	</select>
	<update id="update_Res">
		update restaurant
			set res_info = #{res.res_info}, res_banner = #{res.res_banner}
			where Res_id = #{res.Res_id}
	</update>
	<insert id="insertMenu">
		insert into menu(Res_id, menu_name, menu_e, menu_price, menu_count)
		values(#{menu.Res_id}, #{menu.menu_name},#{menu.menu_e},#{menu.menu_price},#{menu.menu_count})
	</insert>
	<select id="selectRestaurant_list_by_type" resultType="RestaurantVO">
		select * from restaurant
		where res_type = #{type}
	</select>
	<select id="select_Menu_List" resultType="MenuVO">
		select * from menu
		where Res_id = #{res_id}
	</select>
	<update id="update_Menu">
		update menu
			set Res_id = #{menu.Res_id}, menu_name = #{menu.menu_name},
				menu_e = #{menu.menu_e}, menu_price = #{menu.menu_price},
				menu_count = #{menu.menu_count}
			where menu_code = #{menu.menu_code}
	</update>
	<delete id="deleteMenu">
		delete from menu
			where menu_code = #{code} 
	</delete>
	<select id="select_Menu_name" resultType="MenuVO">
		select * from menu
		where menu_code = #{i}
	</select>
</mapper>