<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.final_project.dao.ReviewDAO">
	<select id="select_all_review" resultType="ReviewVO">
		select * from review
		where res_id = #{res_id}
	</select>
	<insert id="insertRev">
		insert into review(content, score, User_id, Res_id)
		values(#{review.content}, #{review.score}, #{review.User_id}, #{review.Res_id})
	</insert>
	<select id="select_review" resultType="ReviewVO">
		select * from review
		where Rev_id = #{rev_id}
	</select>
	<update id="updateRevAll">
		update restaurant , (select res_id, avg(score) as score_avg from review group by Res_id) as rev
		set restaurant.res_score = rev.score_avg
	    where restaurant.res_id = rev.res_id
	</update>
</mapper>