<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.final_project.dao.UserDAO">
	<insert id="signup">
		insert into user(User_id, user_name, user_pw, user_email)
		values(#{user.User_id}, #{user.user_name}, #{user.user_pw}, #{user.user_email})
	</insert>
	<select id="selectUser" resultType="UserVO">
		select * from user
			where User_id = #{user_id}
	</select>
</mapper>