<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.final_project.dao.UserDAO">
	<insert id="signup">
		insert into user(User_id, user_name, user_pw, user_email)
		values(#{user.User_id}, #{user.user_name}, #{user.user_pw}, #{user.user_email})
	</insert>
	<insert id="signup_biz">
	insert into user(User_id, user_name, user_pw, user_email, user_type)
		values(#{user.User_id}, #{user.user_name}, #{user.user_pw}, #{user.user_email}, 'BIZ')
	</insert>
	<select id="selectUser" resultType="UserVO">
		select * from user
			where User_id = #{user_id}
	</select>
	<insert id="insert_fav">
		insert into favorites(User_id, Res_id)
		values(#{User_id}, #{res_id})
	</insert>
	<select id="select_SH" resultType="Search_historyVO">
		select * from search_history
		where User_id = #{User_id}
	</select>
	<select id="get_fav" resultType="FavoritesVO">
		select * from favorites
		where User_id = #{User_id}
	</select>
	<delete id="delete_fav">
		delete from favorites
		where User_id = #{User_id} and res_id = #{res_id}
	</delete>
	<update id="updatecaution">
		update user
			set user_freeze = #{user.user_freeze}
		where User_id = #{user.User_id}
	</update>
	<update id="update_report">
		update user
			set user_report = #{user.user_report}
		where User_id = #{user.User_id}
	</update>
	<select id="selectUser_id" resultType="UserVO">
		select * from user
		where User_id = #{value}
	</select>
	<select id="selectUser_email" resultType="UserVO">
		select * from user
		where user_email = #{value}
	</select>
</mapper>