<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="content">
		<h1>관리자페이지</h1>
		<div>- 사업자가 등록한 음식점 승인/미승인</div>
		<a class="btn btn-primary mr-2" th:href="@{/admin/res}">음식점 승인처리</a>
		<div>- 신고받은 리뷰 확인후 삭제, 경고</div>
		<a class="btn btn-primary mr-2" th:href="@{/admin/rev}">리뷰 신고 확인</a>
		<div>- 경고n회 이상인 회원 정지</div>
		<a class="btn btn-primary mr-2" th:href="@{/admin/user}">회원 경고</a>
	</main>
</body>
</html>