<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="content">
		<h1>관리자페이지</h1>
		<h3>음식점 리스트</h3>
		<table class="table">
    <thead>
    	<tr>
			<th>이름</th>    	
			<th>id</th>    	
			<th>위치</th>    	
			<th>평점</th>
			<th colspan="2">승인정보</th>    	
    	</tr>
    </thead>
    <tbody>
   		<tr th:each="item : ${resList}">
			<td  th:text="${item.res_name}"></td>
			<td  th:text="${item.res_id}"></td>
			<td  th:text="${item.address}"></td>
			<td  th:text="${item.res_score}"></td>
			<td  th:text="${item.permission}"></td>
			<td th:unless="${item.permission}"><a class="btn btn-primary mr-2" th:href="@{/admin/per/{res_id}(res_id=${item.res_id})}">승인</a></td>
			<td th:if="${item.permission}"><a class="btn btn-danger mr-2" th:href="@{/admin/per2/{res_id}(res_id=${item.res_id})}">미승인</a></td>
		</tr>
    </tbody>
  </table>
		
		<a class="btn btn-primary mr-2" th:href="@{/admin/de}">관리자 홈으로</a>

	</main>
</body>
</html>